########################################
###### DomesticWork
########################################

Recipes meiacapa
{
    name Meia Capa de Memmar
    level 1
    text Meia capa típica da nobres com que ainda honram sua linhagem sanguínea proveniente de Memmar.
}

Recipes botasdeinverno
{
    name  Botas do Denso Inverno
    level 1
    text Botas usadas por moradores da Taiga para se protegerem do denso inverno. Parece garantir grandes proteções quanto ao clima gélido.
}

Recipes capuz
{
    name  Capuz de Aquil
    level 1
    text Capuz usado pelos elfos de Aquil para se protegerem da areia e do sol forte.
}

Recipes luvasdosmagos
{
    name Luva dos Acolitos da Sangria
    level 2
    text Trata-se de uma luva com adornamentos estranhos e palavras pouco conhecidas por pessoas comuns. Os Acolitos da Sangria sempre mantiveram costumes pouco conhecidos e, em casos, ate pouco aceitos.
}

Recipes armaduracouroalimdar
{
    name Tunica de Couro de Alimdar
    level 3
    text Tunica de Couro caracteristico dos protetores de Alimdar. Dizem as historias que nao se usavam muito o metal, que era vendido em abundancia, e era preferivel que seus guerreiros utilizassem o couro.
}

Recipes trajedememmar
{
    name Traje do Curandeiro de Memmar
    level 3
    text Traje utilizado pelos curandeiros Memmarianos durante a viagem para Tybar.
}

Recipes mantoaventureiro
{
	name Manto do Aventureiro
	level 2
	text Costurado para atender as necessidades dos mais audazes! 
} 


Recipes couracadewazif
{
	name Couraca de Wazif
	level 2
	text Armadura padrão do exército do Império Wazif
}

Recipes bracadeiradewazif
{
	name Braçadeira de Wazif
	level 2
	text Armadura padrão do exército do Império Wazif
}

Recipes saiadewazif
{
	name Saia de Wazif
	level 2
	text Armadura padrão do exército do Império Wazif
}

Recipes pescoceiradequitina
{
    name Pescoceira de Quitina
    level 3
    text Pescoceira de Quitina, feita das partes mais duras do couro. Muito vistas por Numajenes capturados por Zharkia no passado, a tecnica de producao entretanto sempre foi um misterio.
}

Recipes luvasdequitina
{
    name Luvas de Quitina
    level 3
    text Luvas de Quitina, feita das partes mais duras do couro. Muito vistas por Numajenes capturados por Zharkia no passado, a tecnica de producao entretanto sempre foi um misterio.
}

Recipes bracadeirasdequitina
{
    name Bracadeiras de Quitina
    level 3
    text Bracedeiras de Quitina, feita das partes mais duras do couro. Muito vistas por Numajenes capturados por Zharkia no passado, a tecnica de producao entretanto sempre foi um misterio.
}

Recipes peitoraldequitina
{
    name Peitoral de Quitina
    level 3
    text Peitoral de Quitina, feita das partes mais duras do couro. Muito vistas por Numajenes capturados por Zharkia no passado, a tecnica de producao entretanto sempre foi um misterio.
}

Recipes calcasdequitina
{
    name Peitoral de Quitina
    level 3
    text Calcas de Quitina, feita das partes mais duras do couro. Muito vistas por Numajenes capturados por Zharkia no passado, a tecnica de producao entretanto sempre foi um misterio.
}

Recipes deermask
{
	name Mascara de Cervo
	level 1
	text Capuz feito com uma cabeça de cervo
}

Recipes PolarBearMask
{
    name Mascara de Urso Polar
    level 1
    text Mascara feita da cabeca de um urso polar, utilizada pelos beserkers da Taiga na protecao contra o frio.
}

Recipes wolfmask
{
	name Mascara de Lobo
	level 1
	text Capuz feito com uma cabeça de lobo
}

Recipes bearmask
{
	name Mascara de Urso
	level 2
	text Capuz feito com uma cabeça de Urso
}

Recipes panthermask
{
	name Mascara de Pantera
	level 2
	text Capuz feito com uma cabeça de Pantera
}

Recipes mantoclerigo
{
	name Trajes Religiosos
	level 1
	text Esse manto carrega os simbolos sacros dos acolitos.
}

Recipes mantodeaquil
{
	name Manto de Aquil
	level 1
	text Esse manto protege dos calores de Aquil.
}

Recipes mantodoviajante
{
	name Manto do Viajante
	level 1
	text Esse manto te protegera mas viagens mais longas.
}

Recipes mantodosmagos
{
	name Manto do Viajante
	level 1
	text Esse manto foi desenvolvido para permitir os movimentos fluidos necessarios para as magias.
}


Recipes mantodadescobertavaniria
{
	name Manto do Viajante
	level 1
	text Esse manto foi desenvolvido pelos Vanirios para protecao nas travessias maritimas.
}


########################################
###### WOODWORK
########################################

Recipes coolingWater
{
	name tina de agua da forja
	level 3
	text Projeto de construção de uma tina de forja
}


Recipes serrabancada
{
	name Serra de Bancada (Leste)
	level 2
	text Projeto de construção de uma serra de bancada
}

Recipes serrabancada1
{
	name Serra de Bancada (Sul)
	level 2
	text Projeto de construção de uma serra de bancada
}

Recipes ArcoYumi
{
    name  Arco Dos Antigos Protetores
    level 3
    text Arco Gigante utilizado para caca, principalmente pesca, por antigos Vanirios. O uso no Combate, entretanto, se mostra mais poderoso que os proprios arcos compostos.
}

Recipes mailbox
{
    name  Caixa de Correio
    level 1
    text Muitos utilizam caixas, outros procuram formas de aperfeicoar seus modelos e torna-los muito mais simples e uteis.
}

Recipes estantepequena
{
    name  Estante Pequena
    level 2
    text Uma estante pequena e pouco ortodoxa. Raramente vista, mas parece cair bem em comodos pequenos.
}

Recipes estantedemarmore
{
    name  Estante de Marmore
    level 3
    text Uma estante feita a base de pedras e argila. Tipico do gosto Vanirio, talvez este seja uma das varias arquiteturas esquecidas pelo seu povo.
}

Recipes prateleira
{
    name  Prateleira de Memmar
    level 2
    text Dizem sobre modelos de prateleiras muito mais simples e belas. Poucos sao os que conhecem as formas que se enquadram nesta descricao, entretanto.
}

Recipes poltronavaniria
{
    name Poltrona Vaniria
    level 3
    text Talvez tenha sido comum em Alimdar. E pouco visto nos dias de hoje, tanto a forma como seu conforto.
}

########################################
###### METALWORK - Tinkertools
########################################
Recipes amuletoasan
{
    name  Amuleto Protetor de Asan
    level 2
    text Amuleto dos grandes fieis de Asan. Dizem garantir grandes protecoes contra aqueles que tentam agredir seus Sacerdotes, o fato entretanto jamais foi comprovado.
}

Recipes oculosdeacerto
{
    name Oculos de Precisao
    level 3
    text Oculos utilizado por grandes engenheiros para maior precisao. A adaptacao para combatentes a distancia e possivel, mas nao muito usada por faze-los parecer ridiculos.
}

########################################
###### METALWORK - Smithhammer
########################################
Recipes machadosduplosthuria
{
    name Machados Duplos de Thuria
    level 1
    text Melhor dois machados na mao, do que um voando. - Tradicional ditado Thuriao
}

Recipes laminasvanirias
{
    name Laminas Vanirias
    level 1
    text Arma criada pelos vanirios durante a luta contra a escravidao. Pequenas, eram faceis de esconder e rapidas para ataques surpresa.
}

Recipes clavadosgigantes
{
    name Clava dos Gigantes
    level 1
    text Clava utilizada por guerreiros gigantes. E extremamente pesada e precisa de alguem muito forte para manobra-la, mas seus golpes causam um estrago brutal.
}

Recipes dualknives
{
    name Adagas da Mascara
    level 1
    text Diziam as lendas que os homens que vestem a mascara e manipulam o reino tem um grande apreco por armas curtas que possam ser utilizadas em ambas as maos. A verdade? E provavel que as adagas tenham sido vistas na mao de um Aquilrano encapuzado.
}

Recipes macalaminada
{
    name Maca Laminada
    level 2
    text Maca formada por varias laminas, causando alem do dano de contusao, profundos cortes na vitima. Essa arma e uma evolucao de instrumentos de tortura.
}

Recipes machadodebatalhathuria
{
    name Machado de Batalha Thuria
    level 2
    text Os Thurioes raramente dao valor as tradicionas espadas e agilidade comumente encontrada em Tybar. Em Thuria, os machados e bastardas sao simbolos de forca e poder. Os Skulds ainda preferem machados como este, poderosos e bem modelados.
}

Recipes cotamalhatoramril
{
    name Cota de Malha de Tor Amril
    level 1
    text A cota de Malha de Tor Amril era costumeiramente utilizada pelos seus guerreiros. Poucos deles vieram para Tybar, mas o conhecimento de como produzir o conjunto com um misto de ferro entrelaçado ao couro foi transferido aos Vanirio da epoca.
}

Recipes escudodetoramril
{
    name Escudo dos Elfos de Tor Amril
    level 3
    text Cada pedaço de gema de kitah, quando juntos, formam uma grande perola capaz de ser anexada a escudos, atraves de antigos conhecimentos de Formentera.
}

Recipes escudodacavalaria
{
    name Escudo da Cavalaria Memmariana
    level 3
    text Embora varios poderes da Nobreza tenham sido recuperados recentemente, os Cavaleiros eram abundantes em Memmar, juramentados cada um a uma casa nobre. O Escudo da Cavalaria era um presente do seu Sir ao cavaleiro, principalmente pelo aco que era forjado.
}


# Gibao

Recipes RangerLeggings
{
	name Perneiras de Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso nas pernas. 	
}

Recipes RangerGloves
{
	name Luvas do Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso nas maos. 	
}

Recipes RangerGorget
{
	name Pescoceira do Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso no pescoco. 	
}

Recipes RangerSleeves
{
	name Bracadeira de Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso nos bracos. 	
}

Recipes RangerTunicFemale
{
	name Tunica do Gibao Feminina
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso no busto.
}

Recipes RangerSkirt
{
	name Saia de Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, em formato de saia.
}

Recipes RangerTunic
{
	name Tunica de Gibao
	level 2
	text Uma armadura de couro especial, chamada gibao, para o uso no busto.
}

Recipes botasbariya
{
	name Botas de Bariya
	level 1
	text Botas adaptadas para o deserto a partir do melhor material de la advindo.
}


Recipes aljava
{
	name Aljava de Guerra	
	level 1	
	text Uma aljava projetada para atender as necessidades de um combatente experiente ou um caçador meticuloso. 	
}

Recipes aljavacintura
{
	name Aljava de Cintura
	level 1
	text Uma aljava elaborada para ficar presa no cinto dos combatentes. Dá agilidade e permite o uso de capas, ideal para uma caçada silenciosa. 
}

Recipes escudodekaljhara
{
    name Escudo Dos Lagartos
    level 3
    text Conhecimentos antigos e estranho estao em posse dos Largatos, e artefatos em homenagem a um olho, ou sol, nao sao raros de serem encontrados. Nao se sabe muito a respeito de sua cultura, mas a forma que trabalham o metal o faz muito mais poderoso.
}

Recipes grandeescudoadornado
{
    name Escudo Adornado da Nobreza
    level 3
    text Preferido pelas grandes casas de Zharkia, exibem brasoes da nobreza em metais e gemas preciosas.
}

Recipes armaduracouropicta
{
	name Armadura de Couro Picta
	level 3
	text Desenvolvido ao longo de seculos, o metodo de costura e preparo dessa armadura eh um segredo bem guardado.
}

Recipes  bustocouroCazarreforcado
{
	name Busto de Couro Reforcado Cazar
	level 2
	text Busto de Couro Reforcado Cazar forjado a partir de técnicas secretas cazares.
}

Recipes  pernascouroCazarreforcado
{
	name Pernas de Couro Reforcado Cazar
	level 2
	text Pernas de Couro Reforcado Cazar forjado a partir de técnicas secretas cazares.
}

Recipes  bustoCazar
{
	name Busto de Couro Cazar
	level 2
	text Busto de couro que empreende técnicas secretas de costura dos cazares.
}

Recipes  pernasCazar
{
	name Perneira de Couro Cazar
	level 2
	text Perneira de couro que empreende técnicas secretas de costura dos cazares.
}

Recipes  bracosCazar
{
	name Bracadeira de Couro Cazar
	level 2
	text Bracadeira de couro que empreende técnicas secretas de costura dos cazares.
}

Recipes  pescocoCazar
{
	name Pescoceira de Couro Cazar
	level 2
	text Pescoceira de couro que empreende técnicas secretas de costura dos cazares.
}

Recipes  bracoscouroCazarreforcado
{
	name Bracos de Couro Reforcado Cazar
	level 2
	text Bracos de Couro Reforcado Cazar forjado a partir de técnicas secretas cazares.
}

Recipes  pescococouroCazarreforcado
{
	name Pescoco de Couro Reforcado Cazar
	level 2
	text Pescoco de Couro Reforcado Cazar forjado a partir de técnicas secretas cazares.
}

Recipes  bustoCazarplacas
{
	name Busto de Placas Cazar
	level 2
	text Busto de placas forjado a partir de técnicas secretas cazares.
}

Recipes  bracosCazarplacas
{
	name Bracos de Placas Cazar
	level 2
	text Bracos de placas forjado a partir de técnicas secretas cazares.
}

Recipes  pescocoCazarplacas
{
	name Gorjal de Placas Cazar
	level 2
	text Gorjal de placas forjado a partir de técnicas secretas cazares.
}

Recipes  pernasCazarplacas
{
	name Perneira de Placas Cazar
	level 2
	text Perneira de placas forjado a partir de técnicas secretas cazares.
}


Recipes bustoferun
{
	name Busto de Ferun
	level 3
	text Armadura de elite do exercito Ferune. Esse busto confere ao usuario o melhor da metalurgia ferune.
}

Recipes bracosferun
{
	name Ombreiras de Ferun
	level 3
	text Armadura de elite do exercito Ferune. Essas ombreiras conferem ao usuario o melhor da metalurgia ferune.
}

Recipes pernasferun
{
	name Perneiras de Ferun
	level 3
	text Armadura de elite do exercito Ferune. Essas perneiras conferem ao usuario o melhor da metalurgia ferune.
}

Recipes luvasferun
{
	name Manoplas de Ferun
	level 3
	text Armadura de elite do exercito Ferune. Essas luvas conferem ao usuario o melhor da metalurgia ferune.
}

Recipes pescocoferun
{
	name Gorjal de Ferun
	level 3
	text Armadura de elite do exercito Ferune. Esse gorjal confere ao usuario o melhor da metalurgia ferune.
}

Recipes bustobariya
{
	name Busto de Bariya
	level 2
	text Busto forjado a partir de antiga tecnica Bariyana de confeccao de armaduras. Muito resistente.
}

Recipes bracadeirasbariya
{
	name Bracadeiras de Bariya
	level 2
	text Bracadeiras forjadas a partir de antiga tecnica Bariyana de confeccao de armaduras. Muito resistente.
}

Recipes pernasbariya
{
	name Perneiras de Bariya
	level 2
	text Perneiras forjadas a partir de antiga tecnica Bariyana de confeccao de armaduras. Muito resistente.
}

Recipes luvasbariya
{
	name Luvas de Bariya
	level 2
	text Luvas forjadas a partir de antiga tecnica Bariyana de confeccao de armaduras. Muito resistente.
}

Recipes pescoceirabariya
{
	name Gorjal de Bariya
	level 2
	text Gorjal forjado a partir de antiga tecnica Bariyana de confeccao de armaduras. Muito resistente.
}

Recipes malhaferune
{
	name Cota de Malha Ferune
	level 1
	text Armadura formada por varios aneis de metais interconectados. Essa armadura é montado sobre uma armadura de couro convencional, em uma técnica pouco usual, o que lhe confere resistência suplementar.
}

Recipes clavadosgigantes
{
	name Clava dos Gigantes	
	level 1
	text Clava utilizada por guerreiros gigantes. E extremamente pesada e precisa de alguem muito forte para manobra-la, mas seus golpes causam um estrago brutal.
}

Recipes bustoclerigo
{
	name Placas do Sol Invicto
	level 3
	text Busto abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}

Recipes bracosclerigo
{
	name Ombreiras do Sol Invicto
	level 3
	text Ombreiras abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}

Recipes pernasclerigo
{
	name Perneiras do Sol Invicto
	level 3
	text Perneiras abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}

Recipes luvasclerigo
{
	name Manoplas do Sol Invicto
	level 3
	text Manoplas abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}

Recipes pescococlerigo
{
	name Gorjal do Sol Invicto
	level 3
	text Gorjal abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}


Recipes escudowazif
{
	name	Escudo Wazif
	level	3
	text	De construcao simples e manuseio leve, o escudo de front do imperio wazif eh uma joia da forja que poucos ousam copiar.
}


Recipes capaceteclerigo
{
	name Elmo do Sol Invicto
	level 3
	text Elmo abencoado pelas gracas do sol invicto. A tecnica de criacao desta armadura confere ao usuario livre pratica magica.
}

Recipes yatagan
{
	name Yatagan Cazar
	level 3
	text Conhecida tambem como Espada Varal, e uma lamina Cazar tradicionalmente usada por cavaleiros montados.
}


Recipes espadacurta
{
	name Espada Curta
	level 1
	text Espada curta, a mais comum das espadas por ser rapida, barata e mortal.
}

Recipes lance
{
	name lance
	level 1
	text Lanca de cavalaria, utilizada em exibicoes de lanca de justa. E uma arma mais voltara para eventos esportivos e nao para o combate, por nao ser muito pratica para o campo de batalha.
}

Recipes quebracanelas
{
	name Quebra Canelas
	level 1
	text Porrete mortal, feito para quebrar a canela dos escravos na cruz mortalmente cruel.
}

####################################
#######      FUNILARIA      ########
####################################

Recipes armadilhadechao
{
	name kit de Armadilha Alquimica
	level 2
	text Nem tudo que reluz eh ouro, pode ser uma explosao. Nesse caso espera-se isso.
}

Recipes kitdearmadilha
{
	name kit de Armadilha de Setas
	level 2
	text Voce pode espetar o dedo em uma roca e dormir por um seculo ou apenas ferir-se gravemente e precisar de um medico. Cuidado com o que deseja!
}

Recipes armadilhadeurso
{
	name Armadilha de Urso Desarmada
	level 2
	text Capaz de impedir o movimento de um Ursidae de grande porte.
}



Recipes HeavyCrossbow
{
	name Besta Pesada
	level 2
	text A besta pesada possui um sistema de engrenagens melhor e mais elaborado. E necessario conhecimento avancado em engenharia para montar uma dessas. A vantagem esta que essas sao armas capazes de perfurar ate armaduras de placas. Geralmente sao usadas em guerras, antes do ataque de cavaleiros montados.
}

Recipes RepeatingCrossbow
{
	name Besta de Repeticao
	level 2
	text Esta arma possui um elaborado mecanismo que aumenta a cadencia de tiros da besta, ou seja, remove sua maior desvantagem de ser uma arma lenta e ainda soma sua precisao e capacidade de perfuracao. 
}


 
Recipes forja
{
	name forja
	level 3
	text Projeto de construção de uma forja
}

Recipes bigorna
{
	name bigorna
	level 3
	text Projeto de construção de uma bigorna
}